#error{
    position: absolute;
    top:20px;
    width: 100%;
    display: flex;
    justify-content:center ;
    opacity: 1;
    visibility: visible;
    animation: fadein 0.5s linear;
    z-index: 1000;
}
#success{
    position: absolute;
    top:20px;
    width: 100%;
    display: flex;
    justify-content:center ;
    opacity: 1;
    visibility: visible;
    animation: fadein 0.5s linear;
    z-index: 1000;
}
#success div,#error div{
    display: flex;justify-content: space-between;align-items: center;
}
@keyframes fadein {
    0%{ opacity: 0 }
    100%  { opacity: 1 }
}
.myCenter{
    justify-content: center;
    display: flex;
    width: 100%;
}
.myCenter a{
    width: 100%;
}
.logo-custom{
    position: absolute;
    visibility: hidden;
}
@media only screen and (max-width: 700px) {

    .dataTables_wrapper .row{
        overflow-y: scroll;
    }
    .navbar-custom{
        display: flex;flex-direction: row-reverse;justify-content: space-between;
    }
    .logo-custom{
        position: relative;
        visibility: visible;
        width: 100px;
        height: 100%;
    }
}