<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu" th:if="${#strings.equals(session.currentUser.getRole(),'ROLE_ADMIN')}">
                <li>
                    <a th:href="@{/admin}">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/ajouterEqui}">
                        <i class="mdi mdi-plus-circle"></i>
                        <span> Ajouter équipement </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/equipements}">
                        <i class="mdi mdi-view-list"></i>
                        <span> Equipements </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/ajouterAcce}">
                        <i class="mdi  mdi-plus-circle"></i>
                        <span> Ajouter accessoire </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/accessoires}">
                        <i class="mdi mdi-view-list"></i>
                        <span> Accessoires </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/ajouterCert}">
                        <i class="mdi  mdi-plus-circle"></i>
                        <span> Ajouter certificat </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/certificats}">
                        <i class="mdi mdi-certificate"></i>
                        <span> Certificats </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/utilisateurs}">
                        <i class="mdi mdi-account-group"></i>
                        <span> Utilisateurs</span>
                    </a>
                </li>
            </ul>
            <ul class="metismenu" id="side-menu" th:if="${#strings.equals(session.currentUser.getRole(),'ROLE_USER')}">
                <li>
                    <a th:href="@{/user}">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/equipements}">
                        <i class="mdi mdi-view-list"></i>
                        <span> Equipements </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/accessoires}">
                        <i class="mdi mdi-view-list"></i>
                        <span> Accessoires </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/certificats}">
                        <i class="mdi mdi-certificate"></i>
                        <span> Certificats </span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
